language: node_js
node_js: stable
branches:
  only:
  - blog-source
cache:
  directories:
  - node_modules
before_install:
- npm install -g hexo-cli
- npm install gulp -g
- git clone -b master https://github.com/da0mao/hexo-theme-next.git themes/next
install:
- npm install
# script:
# - hexo generate
after_success:
- git config --global user.name "da0mao"
- git config --global user.email "da0mao@hotmail.com"
- sed -i'' "s~git@github.com:da0mao/da0mao.github.io.git~https://${REPO_TOKEN}:x-oauth-basic@github.com/da0mao/da0mao.github.io.git~" _config.yml
- gulp
env:
  global:
  - secure: fjuCt5d3dqtr+8j3zq+hOUQZ/f/aNPSoLre2QbfV9awj0bCVOG7A/dC2ZqTJTXh/2ORwwLtsgDU1Zd9VYOtbUqjrcGtKs8eS//smaFakjkxv4tpggbAX8A1AtaA7SzXIuTVvOpnbV2DNFTL7V4USZ0coKS8zqE13tcepnwe4zGBGniIVjGZCx+cTSXQrim6d11mnAk9zSCwUJOHz6o1frSrxUIDVJOrlYbyu4qqz914eduWHqmeZBWP7DSkE4ZXBCLLx8dmr8aGIUe1yZcEW4dC8YGrSLt86RAGd9nVaSFKwt4xcxgQ3C1ovo3CVE7a/ZTAahU+ke2+NvbdL7bkorI10HhHsrMsUteF8cF9A0ECr5dVlzyz7mDXJj+a8Qnpffjca3YMiPnTPfDzFpzX01f80CZQ/nJmA9LI5TJK95HCC2B1LxSzsKFdLbt7BOZR2uIrNOfCuzUvA1BVaapAF290YkZBeKfIYPc5qFw+z+B/O2sJj61w2gbsjLUk7O8T6jIXd+f9yz7DEtBMrbdwRsxPrNdmg+LBD9jcukYU6EkMKG44r869Cxl07aNdcbuPQra13a0gLhkdf2eKdc3QMEarbW7elNvBMdY46P+ow7MKSvI4z0G5E1ueJV8s5fdsaK8LFFSAMIHAQt7IpE5JepXu0Sba8MO86AOOI9M5IuRY=
